<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.4/css/all.css")
        link(rel="shortcut icon", href="https://play-lh.googleusercontent.com/z-W1ocOE16havnS6bfgDMnEb2lWbL6jq-tWLW8yu_Tn0MP3nknaQWVsI-6qMHoMLp0E=s200-rw", type="image/x-icon")
        link(rel="stylesheet", href="/styles/styles.css")
        title Catch Mind
    body
        .loginBox
            .welcome 
                h2 Welcome to Catch Mind !!
            form#jsLogin
                input(placeholder="What's your nickname?", type="text")
        .gameContainer#jsGame
            .main
                #jsNotifs.welcome
                    h2 Welcome to catch mind!!
                .canvas__container#canvaswidth 
                    canvas.canvas#jsCanvas
                .controls#jsControls
                    .current-color#jsCurrentColor(style="background-color: #000000")
                    h2 current color
                    .colors
                        .color.jsColor(style="background-color: #000000")
                        .color.jsColor(style="background-color: #ffffff")
                        .color.jsColor(style="background-color: #636e72")
                        .color.jsColor(style="background-color: #b2bec3")
                        .color.jsColor(style="background-color: #f3a683")
                        .color.jsColor(style="background-color: #f7d794")
                        .color.jsColor(style="background-color: #778beb")
                        .color.jsColor(style="background-color: #e77f67")
                        .color.jsColor(style="background-color: #cf6a87")
                        .color.jsColor(style="background-color: #bdc581")
                        .color.jsColor(style="background-color: #d63031")
                        .color.jsColor(style="background-color: #ffa801")
                        .color.jsColor(style="background-color: #ffd32a")
                        .color.jsColor(style="background-color: #05c46b")
                        .color.jsColor(style="background-color: #0984e3")
                        .color.jsColor(style="background-color: #3c40c6")
                        .color.jsColor(style="background-color: #00d8d6")
                        .color.jsColor(style="background-color: #cd84f1")
                        .color.jsColor(style="background-color: #fd79a8")
                        .color.jsColor(style="background-color: #fffa65")
                    .brush__container
                        i.fas.fa-brush
                        input(type="range" name="input-range" id="jsRange" class="input_range" min="1" max="10" value="4" step="0.1")
                    .buttons 
                        button#jsMode Fill
                        button#jsClear Clear
            .chat
                .player__board#jsPBoard
                ul.chat__messages#jsMessages
                form.chat__form#jsSendMsg
                    input(placeholder="Write a message", type="text")
                .Time 
                    h2#count
        script.
            window.events = !{events}    
        script(src="/socket.io/socket.io.js")
        script(src="/js/main.js")